body    {
    background-image: url("images/background.gif");
    color: #269598;
}

.all    {
    border: 10px solid white;
    margin: 5px 10%;
    background-color: white;
}

.header {
    background-color: #A8F0F0;
    text-align: right;
}

h1  {
    margin: 0px;
    font-family: sans-serif;
    font-weight: 100;
    letter-spacing: 3px;
}

h2  {
    margin: 5px;
    font-family: sans-serif;
    font-weight: 100;
}

.header h2  {
    font-size: 14pt;
}

a:link   {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: black;
}

aside   {
    width: 20%;
    margin-bottom: 50%;
    margin-top: 5px;
    margin-right: 10px;
    border: 5px solid #00959f;
    padding-left: 5px;
    background-color: #9ae0e0;
    float: left;
    color: #2f7b80;
    overflow: auto;
}

aside ul    {
    padding-left: 15px;
    list-style-type: none;
}

aside ul li {
    margin-top: 25px;
}

aside ul li::before {
    content: '';
    height: .4em;
    width: .4em;
    margin: -15px;
    background: #00959f;
    display: block;
    transform: rotate(45deg);
}

h2 span {
    border-bottom: 2px dashed #269598;
}

.paragraph  {
    border: 4px solid #C2E9E9;
    background-color: #E8FBFB;
    padding: 5px;
    margin: 10px 0px 0px 0px;
    overflow: auto;
}

.paragraph img  {
    float: right;
    margin-left: 5px;
}

#img_C  {
    align-self: center;
}